@import "tailwindcss";

.terminal-output::-webkit-scrollbar {
    width: 4px;
  }
  .terminal-output::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 255, 0.5);
    border-radius: 4px;
  }
  
  /* Blinking Cursor Effect */
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .animate-pulse {
    animation: blink 0.8s infinite;
  }

  /* Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 6px; /* Set width */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.8); /* Dark background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #97b9bb; /* Neon cyan thumb */
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #88b2b4; /* Brighter cyan on hover */
  }
  